// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .header .navbar .navbar-nav .nav-item {
    padding: 10px;
  }
  .header .navbar .user-action {
    margin: 0 25px;
  }
  .modal-wrapper {
    .content-rate {
      .rate {
        width: 90vw;
        svg {
          margin: 0 2px;
        }
      }
    }
  }
  .list-film {
    .item-film {
      .poster {
        min-height: auto;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .single {
    .header-info {
      .poster {
        margin: 0 auto;
      }
    }
  }
  .modal-wrapper {
    .content-list {
      .lists {
        margin: 0 15px;
        padding: 15px;
        .list {
          width: 80vw;
        }
      }
    }
  }
  .modal-video {
    .content-video {
      width: 90vw;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
