$bgColor: #11121a;
$mainColor: #353941;
$gray: #c4c4c4;
$yellow: #ffb700;

%h5temp {
  color: white;
  font-size: 32px;
  font-weight: bold;
  line-height: 39px;
  padding: 0;
  margin: 0;
}
%h6temp {
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  padding: 0;
  margin: 0;
}
